.footer-logo {
    height: 30px; /* Adjust the size of the logo as necessary */
    width: auto; /* This maintains the aspect ratio of the logo */
    margin-bottom: 15px;
    margin-top: 0px;
}

.git-footer-logo {
    height: 60px; /* Adjust the size of the logo as necessary */
    width: auto; /* This maintains the aspect ratio of the logo */
    margin-bottom: 3em;
    margin-top: 0px;
}